<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evara - Checkout Page</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    
    <!-- Keywords -->
    <meta name="keywords" content="Luxury Home Decor, Premium Lifestyle Essentials, Elegant Furnishings, Stylish Homeware, Exclusive Interior Accessories, Chic Decor Accents, Unique Home Furnishings">

        <!-- Robots Meta Tag -->
    <meta name="robots" content="index, follow">
    
    <!-- OG (Open Graph) Tags -->
    <meta property="og:title" content="Evara - Unleashing Elegance in Every Purchase | Premium Home Decor & Lifestyle Essentials">
    <meta property="og:description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Tags -->
    <meta name="twitter:title" content="Evara - Unleashing Elegance in Every Purchase | Premium Home Decor & Lifestyle Essentials">
    <meta name="twitter:description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    <!-- =================================================================
                             Link Custom CSS File
    ================================================================== -->
    <link rel="stylesheet" href="/style.css">

    <!-- =================================================================
                             Link Favicon
    ================================================================== -->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <!-- =================================================================
                             SWIPER JS CDN
    ================================================================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    


    <!-- =================================================================
                             Remix Icon CDN
    ================================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

    <!-- ================================================ HEADER ================================================ -->
    
    <%- include('includes/header') %>


    <!-- ================================================ MAIN ================================================ -->
    <main class="main">
        <!-- ================================================ BREADCRUMB ================================================ -->
        <section class="breadcrumb">
            <ul class="breadcrumb-list flexitem container">
                <li><a href="index.html" class="breadcrumb-link">Home</a></li>
                <li><span class="breadcrumb-link">></span></li>
                <li><span class="breadcrumb-link">Shop</span></li>
                <li><span class="breadcrumb-link">></span></li>
                <li><span class="breadcrumb-link">Checkout</span></li>
            </ul>
        </section>

        <!-- ================================================ CHECKOUT ================================================ -->
        <section class="checkout section-lg">
            <div class="checkout-container container grid">

                <div class="checkout-group">

                    <h3 class="section-title">Cart Totals</h3>
                    <table class="order-table">
                        <tr>
                            <th colspan="2">Products</th>
                            <th>Total</th>
                        </tr>
                        <% cart.items.forEach(item => { %>
                        <tr>
                            <td><img src="/uploads/<%= item.product.productImage1 %>" alt="" class="order-img"></td>
                            <td>
                                <h3 class="table-title"><%= item.product.name %></h3>
                                <p class="table-quantity">x<%= item.quantity %></p>
                            </td>
                            <td><span class="table-price">₹<%= item.price %></span></td>
                        </tr>
                      
                        <% }) %>

                        <% if(cart.items.length>0) { %>

                        
                        <tr>
                            <td><span class="order-subtitle">Subtotal</span></td>
                            <td colspan="2"><span class="table-price">₹<%=cart.totalPrice %></span></td>
                        </tr>
                        <tr>
                            <td><span class="order-subtitle">Shipping</span></td>
                            <td colspan="2"><span class="table-price">Free Shipping</span></td>
                        </tr>
                        <tr>
                            <td><span class="order-subtitle">Total</span></td>
                            <td id="Grandtotal" colspan="2">₹<%=cart.totalPrice %>  <span class="order-grand-total">₹</span></td>
                        </tr>
                    
                    </table>

                    <div class="cart-coupon">
                        <h3 class="section-title">Apply Coupon</h3>

                            <div class="form-group grid">
                                <input id="couponField" type="text" class="form-input" placeholder="Enter Your Coupon">

                                <div class="form-btn">
                                    <button onclick="applyCoupon('<%= cart.totalPrice %>')"  class="btn flexitem btn-sm">
                                        <i class="ri-coupon-2-line"></i> Apply
                                    </button>
                                </div>
                            </div>
                    </div>

                    <% } %>

                    <div class="checkout-group">
                        <h3 class="section-title">Billing Details</h3>
                        <label for="addressSelect">Address</label>
                        <select id="addressSelect" name="parentAddress" class="form-input">
                            <% address.forEach((address)=> { %>
                            <option value="<%= address._id %>"><%= address.details[0].name%>,<%= address.details[0].address %>,<%= address.details[0].city %>,<%= address.details[0].country %>,<%= address.details[0].postCode %>,<%= address.details[0].phone %>,<%= address.details[0].email %>,</option>
                        <% }) %>
                        </select>
                        
    
                        
                    </div>

                    <!-- payment section -->

                    <div class="payment-methods">
                        <h3 class="checkout-title payment-title">Payment</h3>
                        <div class="payment-option flexitem">
                            <input type="radio" id="onlineBanking" name="selectedPayment" value="onlineBanking" class="payment-input">
                            <label for="onlineBanking" class="payment-label">Online Banking</label>
                        </div>
    
                        <div class="payment-option flexitem">
                            <input type="radio" id="COD" name="selectedPayment" value="COD" class="payment-input">
                            <label for="COD" class="payment-label">Cash On Delivery</label>
                        </div>
                    </div>
                    
                    <button id="placeOrder" class="btn btn-md" >Place Order</button>
                </div>
            </div>
        </section>

    </main>

    <!-- ================================================ FOOTER ================================================ -->
 
    <%- include('includes/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- =================================================================
                             Link Custom JS File
    ================================================================== -->
    <script src="assets/js/script.js"></script>
    
    <script>
        async function addAddress(){
            try {
                const response = await fetch(`/addAddress`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    
                })
                if(!response){
                    throw new Error('network error')
                }

            } catch (error) {
                
            }
        }




        async function applyCoupon(totalPrice){
            try{
                const couponCode = document.getElementById('couponField').value;
                console.log(couponCode,'okok')

                const response = await fetch(`/applyCoupon/${totalPrice}`,{
                    method:'POST',
                    headers: {
                        'Content-Type':'application/json',
                    },
                    body: JSON.stringify({couponCode}),
                });

                if(!response.ok){
                    throw new Error('network error')
                }

                const data = await response.json();

               

                const total = document.querySelector('#Grandtotal')

                if(total){
                    total.textContent =     data.GrandTotal
                }
               
            }
            catch(error){
                console.error(error);
            }
        }
    </script>

<script src="/scripts/orderPlacing.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>
