<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evara - Wishlist</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    
    <!-- Keywords -->
    <meta name="keywords" content="Luxury Home Decor, Premium Lifestyle Essentials, Elegant Furnishings, Stylish Homeware, Exclusive Interior Accessories, Chic Decor Accents, Unique Home Furnishings">

    <!-- Robots Meta Tag -->
    <meta name="robots" content="index, follow">
    
    <!-- OG (Open Graph) Tags -->
    <meta property="og:title" content="Evara - Unleashing Elegance in Every Purchase | Premium Home Decor & Lifestyle Essentials">
    <meta property="og:description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    <meta property="og:type" content="website">
    
    <!-- Twitter Card Tags -->
    <meta name="twitter:title" content="Evara - Unleashing Elegance in Every Purchase | Premium Home Decor & Lifestyle Essentials">
    <meta name="twitter:description" content="Discover luxury at Evara! Explore exquisite home decor & lifestyle essentials. Elevate your space with timeless elegance. Shop now!">
    <!-- =================================================================
                             Link Custom CSS File
    ================================================================== -->
    <link rel="stylesheet" href="/wishlist.css">

    <!-- =================================================================
                             Link Favicon
    ================================================================== -->
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">

    <!-- =================================================================
                             SWIPER JS CDN
    ================================================================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- =================================================================
                             Remix Icon CDN
    ================================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>

    <!-- ================================================ HEADER ================================================ -->
   
    <%- include('includes/header') %>

    <!-- ================================================ MAIN ================================================ -->
    <main class="main">
        <!-- ================================================ BREADCRUMB ================================================ -->
        <section class="breadcrumb">
            <ul class="breadcrumb-list flexitem container">
                <li><a href="index.html" class="breadcrumb-link">Home</a></li>
                <li><span class="breadcrumb-link">></span></li>
                <li><span class="breadcrumb-link">Shop</span></li>
                <li><span class="breadcrumb-link">></span></li>
                <li><span class="breadcrumb-link">Wishlist</span></li>
            </ul>
        </section>

        <!-- ================================================ WISHLIST ================================================ -->
        <section class="wishlist section-lg container">
            <div class="table-container">
                <table class="table">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <!-- <th>Stock Status</th> -->
                        <th>Action</th>
                        <th>Remove</th>
                    </tr>
                    <% if(wishlist.length >0) {%>

                    
                    <% wishlist.forEach(product => { %>

                    
                    <tr id="wishlistRow-<%= product._id %>">
                        <td><img src="/uploads/<%= product.productImage1 %>" alt="" class="table-img"></td>
                        <td>
                            <h3 class="table-title"><%= product.name %></h3>
                            <p class="table-description"><%= product.details %></p>
                        </td>
                        <td><span class="table-price">₹<%= product.discountPrice %></span></td>

                        <!-- <td><span class="table-stock">In Stock</span></td> -->

                        <td><button class="btn btn-sm" id="addToCartt-<%= product._id %>" onclick="addToCart('<%= product._id %>','add')">Add To Cart</button></td>

                        <td><button type="button" onclick="deleteWishlist('<%= product._id %>')"><i class="ri-delete-bin-line table-trash"></i></button></td>
                    </tr>

                <% }); %>
                <% } else  { %>
                    <tr>
                        <td colspan="6">Your Wishlist is empty</td>
                    </tr>
                <% } %>
                </table>
            </div>
        </section>

    </main>

    <!-- ================================================ NEWSLETTER ================================================ -->
    <section class="newsletter section">
        <div class="newsletter-container container grid">
            <h3 class="newsletter-title flexitem">
                <img src="assets/images/icon-email.svg" alt="" class="newsletter-icon">
                Sign Up to Newsletter
            </h3>
            <p class="newsletter-description">
                ...and recieve $25 coupon for first shopping.
            </p>
            <form action="" class="newsletter-form">
                <input type="email" placeholder="Enter Your Email" class="newsletter-input">
                <button type="submit" class="newsletter-btn">Subscribe</button>
            </form>
        </div>
    </section>

    <!-- ================================================ FOOTER ================================================ -->
   
    <%- include('includes/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- =================================================================
                             Link Custom JS File
    ================================================================== -->
    <script src="assets/js/script.js"></script>

    <script>
        async function addToCart(productId,operation){
            try {
                const response = await fetch(`/addToCart/${productId}/${operation}`,{
                    method:'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                if(!response.ok){
                    throw new Error('network error')
                }
                const data = await response.json();
                console.log(data.message)

                // updating the quantity by cliking the plus button
                const quantityPlace = document.querySelector(`#quantities-${productId}`);
                if(quantityPlace){
                quantityPlace.value = parseInt(quantityPlace.value) + (operation === 'add' ? 1: -1);
            }   
            } catch (error) {
                console.error(error)    
            }
        }




        // delete wishlist

        async function deleteWishlist(productId){
            try{
            const response = await fetch(`/deleteWishlist/${productId}`,{
                method:'post',
                headers: {
                    'Content-Type':'application/json'
                },
            });
            if(!response.ok){
                throw new Error('network error')
            }
            const data = await response.json()

            if(response.ok){
                const wishlistItem = document.querySelector(`#wishlistRow-${productId}`);
                if(wishlistItem){
                    await wishlistItem.remove()
                }else{
                    console.error('failed to delete item')
                }
            }
        }
        catch(error){
            console.error(error);
        }

        }
    </script>
</body>

</html>